.banner-bg {
  background-image: url("../images/banner-bg.jpg");
  min-height: 350px;
  background-position-x: 50%;
  background-position-y: 50%;
  background-attachment: scroll;
  background-clip: border-box;
  background-size: cover;
}
