@import "colors";
@import 'custom-classes';

.feature-bottom {
  margin-bottom: 60px;

  .container {
    .d-flex;
    .justify-cont-between;
    text-align: center;
    @media (max-width: 768px) {
      display: inline-block;
    }

    .feature-b-l {
      .font-f-Roboto;
      @media (max-width: 768px) {
        .mb-20px;
      }

      .feature-b-l-top {
        max-width: 610px;
        @media (max-width: 768px) {
          max-width: 770px;
        }
        .mb-20px;

        img {
          max-width: 100%;
          height: auto;
          display: block;
          cursor: pointer;
        }
      }

      .feature-b-l-bt {
        h3 {
          color: rgb(37, 44, 38);
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          height: 26.4px;
          letter-spacing: 0.75px;
          line-height: 26.4px;
          margin-block-end: 20px;
          margin-block-start: 20px;
          .font-f-Roboto;
          .mb-20px;
        }

        button {

          background-clip: border-box;
          background-color: rgb(255, 255, 255);
          border: 1px solid rgba(37, 44, 38, 0.5);
          cursor: pointer;
          display: inline-block;
          font-size: 15px;
          font-stretch: 100%;
          font-style: normal;
          font-weight: 700;
          height: 40px;
          letter-spacing: 1px;
          line-height: 16px;
          padding: 11px 20px;
          text-transform: uppercase;

          &:hover {
            border: 1px solid rgba(37, 44, 38, .3);
            color: rgba(37, 44, 38, .5);
          }
        }
      }
    }

    .feature-b-r {
      .feature-b-l;
    }
  }
}