.feature-top-advertise .container .feature-top-advert-notice {
  background: #f9f9f9;
  padding: 10px 250px 10px 220px;
  margin-bottom: 20px;
}
.feature-top-advertise .container .feature-top-advert-notice ul {
  display: flex;
  justify-content: space-between;
}
.feature-top-advertise .container .feature-top-advert-notice ul li {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  line-height: 20px;
  text-align: left;
  display: flex;
  padding: 10px;
}
.feature-top-advertise .container .feature-top-advert-notice ul li div p:nth-child(2n) {
  font-weight: 400;
}
.feature-top-advertise .container .feature-top-advert-notice ul li a {
  color: #252c26;
}
.feature-top-advertise .container .feature-top-bottom-ware {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.feature-top-advertise .container .feature-top-bottom-ware div {
  width: 400px;
  height: 400px;
  justify-content: center;
  align-items: flex-end;
  display: flex;
}
.feature-top-advertise .container .feature-top-bottom-ware div:nth-child(1) {
  background: url("../images/ware-left.jpg");
  background-size: cover;
}
.feature-top-advertise .container .feature-top-bottom-ware div:nth-child(2) {
  background: url("../images/ware-blanket-center.jpg");
  background-size: cover;
}
.feature-top-advertise .container .feature-top-bottom-ware div:nth-child(3) {
  background: url("../images/ware-right.jpg");
  background-size: cover;
}
.feature-top-advertise .container .feature-top-bottom-ware div button {
  margin-bottom: 35px;
  background-color: rgba(0, 0, 0, 0.5);
  background-origin: padding-box;
  border: 1px solid #e0e1dd;
  box-shadow: none;
  color: #ffffff;
  font-family: "Roboto Condensed", "Helvetica Condensed", "Arial Narrow", Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  height: 40px;
  letter-spacing: 1px;
  line-height: 16px;
  padding: 11px 20px;
  text-transform: uppercase;
}
