.navbar {
  background: #e0e1dd;
}
.navbar .container {
  display: flex;
  justify-content: center;
}
.navbar .container ul li {
  display: inline-block;
}
.navbar .container ul li a {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  color: #000;
  padding: 0 10px;
  margin-right: 5px;
  letter-spacing: 1.5px;
}
