.container {
  max-width: 1240px;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .container {
    padding-top: 10px;
  }
}
.top-line {
  background: #2d2b31;
  text-align: center;
  padding: 10px 0;
}
.top-line h3 {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  margin: 0 0 5px;
}
.top-line p {
  color: #fff;
  font-size: 13px;
  font-style: normal;
  margin: 0;
}
.top-line p span {
  font-weight: 700;
}
.above-menu {
  background: #a9b089;
  padding: 5px 0;
}
@media (max-width: 800px) {
  .above-menu {
    display: none;
  }
}
.above-menu .account-line {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .above-menu .account-line {
    display: none;
  }
}
.above-menu .account-line .return-link a {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}
.above-menu .account-line .return-link a:before {
  content: '';
  background: url(../images/image-globe.svg);
  background-repeat: no-repeat;
  display: inline-block;
  width: 15px;
  height: 12px;
  margin-right: 5px;
}
.above-menu .account-line .return-link a img {
  margin-right: 3px;
}
.above-menu .account-line .account-settings a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  margin-right: 10px;
}
.above-menu .account-line .account-settings a:last-child {
  margin-right: 0;
}
.above-menu .account-line .account-settings a.account-link:after {
  content: '';
  width: 5px;
  height: 5px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  display: inline-block;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-left: 5px;
  margin-bottom: 3px;
}
.above-menu .account-line .account-settings a.account-currency {
  position: relative;
}
.above-menu .account-line .account-settings a.account-currency span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  display: inline-block;
  position: relative;
  top: 1px;
}
.above-menu .account-line .account-settings a.account-currency span:after {
  content: '';
  width: 5px;
  height: 5px;
  border-right: 2px solid #a9b089;
  border-bottom: 2px solid #a9b089;
  display: inline-block;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-left: 4px;
  margin-bottom: 4px;
}
.below-menu {
  background: #a9b089;
  padding: 25px 0;
}
@media (max-width: 800px) {
  .below-menu {
    padding: 0;
  }
}
.below-menu .container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .below-menu .container {
    display: block;
  }
}
@media (max-width: 800px) {
  .below-menu .container .header-number .phone-numbers {
    display: none;
  }
}
.below-menu .container .header-number .phone-numbers:before {
  content: "";
  background: url(../images/header-phone.svg) no-repeat;
  width: 15px;
  height: 15px;
  display: inline-block;
  position: relative;
  top: 2px;
}
.below-menu .container .header-number .phone-numbers ul {
  display: inline-grid;
}
.below-menu .container .header-number .phone-numbers ul li {
  list-style: none;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}
.below-menu .container .header-number .phone-numbers ul li a {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  text-decoration-color: #252c26;
  text-decoration-line: none;
  text-decoration-style: solid;
}
.below-menu .container .header-logo {
  width: 140px;
  height: auto;
}
.below-menu .container .header-logo button {
  display: none;
}
.below-menu .container .header-logo a {
  display: none;
}
.below-menu .container .header-logo a:after {
  content: url("../images/shoppingbag.svg");
  background-size: 28px 28px;
  height: 28px;
  width: 28px;
  display: inline-block;
  position: relative;
  top: 9px;
  margin-left: 10px;
}
@media (max-width: 800px) {
  .below-menu .container .header-logo {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 15vh;
    padding: 0 20px;
  }
  .below-menu .container .header-logo button {
    display: inline;
    border: 2px solid white;
    background: #a9b089;
    padding: 6px;
    color: white;
  }
  .below-menu .container .header-logo div img {
    position: relative;
    top: -22px;
    width: 160px;
  }
  .below-menu .container .header-logo div:nth-child(3) a {
    position: relative;
    top: -6px;
    display: inline;
  }
  .below-menu .container .header-logo div + div > button {
    border: none;
  }
  .below-menu .container .header-logo .fa-search:before {
    font-size: 21px;
  }
}
.below-menu .container .header-logo img {
  position: absolute;
  width: 290px;
  height: 110px;
  bottom: -45px;
}
@media (max-width: 800px) {
  .below-menu .container .header-input {
    padding: 0 0 10px;
  }
}
@media (max-width: 800px) {
  .below-menu .container .header-input .header-search-box a {
    display: none;
  }
}
.below-menu .container .header-input .header-search-box a:after {
  content: url("../images/shoppingbag.svg");
  background-size: 28px 28px;
  height: 28px;
  width: 28px;
  display: inline-block;
  position: relative;
  top: 11px;
  margin-left: 10px;
}
.below-menu .container .header-input .header-search-box input#input-header-hidden {
  display: none;
}
@media (max-width: 800px) {
  .below-menu .container .header-input .header-search-box input#input-header-hidden {
    display: block;
    width: calc(100% - 40px);
    margin: 0 auto;
    height: 5vh;
    border: none;
  }
  .below-menu .container .header-input .header-search-box input#input-header-hidden::placeholder {
    color: #000;
    font-size: 14px;
    font-stretch: 100%;
    font-weight: 400;
  }
}
.below-menu .container .header-input .header-search-box input#input-header {
  font-family: Roboto, Roboto, Helvetica, serif;
  min-height: 33px;
  padding: 0 0 0 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  font-stretch: 100%;
  font-weight: 400;
  height: 32px;
  letter-spacing: normal;
  line-height: 20px;
}
@media (max-width: 800px) {
  .below-menu .container .header-input .header-search-box input#input-header {
    display: none;
  }
}
@media (min-width: 768px) {
  .below-menu .container .header-input .header-search-box input#input-header {
    width: 160px;
  }
}
@media (min-width: 840px) {
  .below-menu .container .header-input .header-search-box input#input-header {
    min-width: 240px;
  }
}
.below-menu .container .header-input .header-search-box input#input-header::placeholder {
  color: #000;
  font-size: 14px;
  font-stretch: 100%;
  font-weight: 400;
}
.below-menu .container .header-input .header-search-box button {
  position: relative;
  background: #fff;
  border: none;
}
@media (max-width: 800px) {
  .below-menu .container .header-input .header-search-box button {
    display: none;
  }
}
@media (min-width: 768px) {
  .below-menu .container .header-input .header-search-box button {
    right: -160px;
  }
}
@media (min-width: 840px) {
  .below-menu .container .header-input .header-search-box button {
    right: -240px;
  }
}
html {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}
html body {
  padding: 0;
  position: relative;
  z-index: 0;
  margin: 0 auto;
  font-family: Roboto, Roboto, Helvetica, serif;
  overflow-x: hidden;
}
html p {
  margin: 0;
  padding: 0;
}
html a {
  text-decoration: none;
}
html img {
  border: none;
}
html h1,
html h2,
html h3,
html h4,
html h5,
html h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}
html strong {
  font-weight: bold;
}
html em {
  font-style: italic;
}
html form,
html menu,
html iframe {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}
html ol,
html ul,
html dl,
html li,
html dt,
html dd {
  margin: 0;
  padding: 0;
  list-style: none;
}
html table {
  width: 100%;
  border-collapse: collapse;
}
html * {
  outline: none;
}
.navbar {
  background: #e0e1dd;
}
@media (max-width: 800px) {
  .navbar {
    display: none;
  }
}
.navbar .container {
  display: flex;
  justify-content: center;
}
.navbar .container ul li {
  display: inline-block;
  border-bottom: 3px solid transparent;
}
.navbar .container ul li:first-child {
  border-bottom: 3px solid black;
}
.navbar .container ul li:hover {
  border-bottom: 3px solid black;
}
.navbar .container ul li:hover .navbar__ul__li__ul-hidden {
  display: block;
}
.navbar .container ul li:hover .navbar__ul__li__ul-hidden li {
  border: none;
}
.navbar .container ul li:hover .navbar__ul__li__ul-hidden li a {
  text-decoration-line: none;
}
.navbar .container ul li:hover .navbar__ul__li__ul-hidden li a:hover {
  background: white;
}
.navbar .container ul li .navbar__ul__li__ul-hidden {
  display: none;
  position: absolute;
  background: #e0e1dd;
  padding: 15px 5px 20px 25px;
  margin-top: 2px;
}
.navbar .container ul li .navbar__ul__li__ul-hidden .navbar__ul__li__ul-hidden__float_left {
  float: left;
}
.navbar .container ul li .navbar__ul__li__ul-hidden .navbar__ul__li__ul-hidden__float_left li:first-child {
  border-bottom: 1px solid #000;
  margin-right: 10px;
  margin-bottom: 7px;
  margin-left: 5px;
}
.navbar .container ul li .navbar__ul__li__ul-hidden li {
  display: block;
}
.navbar .container ul li .navbar__ul__li__ul-hidden li a {
  cursor: pointer;
  display: block;
  font-family: Roboto, Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: normal;
  line-height: 20px;
  margin-right: 15px;
  padding: 5px;
}
.navbar .container ul li a {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  color: #000;
  padding: 0 10px;
  margin-right: 5px;
  letter-spacing: 1.5px;
}
section {
  font-family: Roboto, Roboto, Helvetica, Arial, sans-serif;
}
section .banner-bg {
  background-image: url("../images/banner-bg.jpg");
  min-height: 350px;
  background-position-x: 50%;
  background-position-y: 50%;
  background-attachment: scroll;
  background-clip: border-box;
  background-size: cover;
}
section .banner-bg .container {
  display: flex;
  flex-basis: 0;
  flex-direction: column;
  min-height: inherit;
  align-items: center;
  justify-content: center;
  color: #fff;
}
section .banner-bg .container div {
  text-shadow: 0 0 10px #000000, 0 0 20px #000000;
}
section .banner-bg .container div:nth-child(1) {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  height: 0;
  letter-spacing: 2px;
  line-height: 0;
  margin-bottom: 10px;
}
section .banner-bg .container div:nth-child(2) {
  font-size: 85px;
  font-style: normal;
  font-weight: 700;
  height: 88px;
  line-height: 88px;
}
section .banner-bg .container div:nth-child(3) {
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  height: 24.8px;
  line-height: 25px;
}
section .banner-bg .container div:nth-child(4) {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 37.6px;
  line-height: 38px;
}
section .banner-bg .container div:nth-child(4) span {
  color: #f1c761;
  text-transform: uppercase;
}
section .banner-bg .container div:nth-child(5) {
  margin-top: 15px;
  text-shadow: none;
}
section .banner-bg .container div:nth-child(5) a {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  background: #fff;
  padding: 8px 20px;
  text-transform: uppercase;
  color: #000;
}
section .banner-bg .container div:nth-child(5) a:hover {
  background-color: hsla(0, 0%, 100%, 0.7);
  text-decoration: none;
}
section .banner-bottom-disclaimer {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 10px;
  text-align: center;
  text-size-adjust: 100%;
  background: #2e2b32;
  color: #eaeaea;
  margin-bottom: 20px;
}
.pos-rel {
  position: relative;
}
.feature-top-advertise .container .feature-top-advert-notice {
  background: #f9f9f9;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .feature-top-advertise .container .feature-top-advert-notice {
    padding: 10px 10vw;
  }
}
.feature-top-advertise .container .feature-top-advert-notice ul {
  display: flex;
  justify-content: space-between;
}
.feature-top-advertise .container .feature-top-advert-notice ul li {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  line-height: 20px;
  text-align: left;
  display: flex;
  padding: 10px;
}
.feature-top-advertise .container .feature-top-advert-notice ul li div p:nth-child(2n) {
  font-weight: 400;
}
.feature-top-advertise .container .feature-top-advert-notice ul li a {
  color: #252c26;
}
.feature-top-advertise .container .feature-top-bottom-ware {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .feature-top-advertise .container .feature-top-bottom-ware {
    justify-content: space-around;
  }
}
.feature-top-advertise .container .feature-top-bottom-ware div {
  width: 32%;
  height: 30vw;
  justify-content: center;
  align-items: flex-end;
  display: flex;
}
.feature-top-advertise .container .feature-top-bottom-ware div:nth-child(1) {
  background: url("../images/ware-left.jpg");
  background-size: cover;
}
.feature-top-advertise .container .feature-top-bottom-ware div:nth-child(2) {
  background: url("../images/ware-blanket-center.jpg");
  background-size: cover;
}
.feature-top-advertise .container .feature-top-bottom-ware div:nth-child(3) {
  background: url("../images/ware-right.jpg");
  background-size: cover;
}
@media (max-width: 768px) {
  .feature-top-advertise .container .feature-top-bottom-ware div:nth-child(3) {
    display: none;
  }
}
.feature-top-advertise .container .feature-top-bottom-ware div button {
  cursor: pointer;
  margin-bottom: 35px;
  background-color: rgba(0, 0, 0, 0.5);
  background-origin: padding-box;
  border: 1px solid #e0e1dd;
  box-shadow: none;
  color: #ffffff;
  font-family: "Roboto Condensed", "Helvetica Condensed", "Arial Narrow", Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  height: 40px;
  letter-spacing: 1px;
  line-height: 16px;
  padding: 11px 20px;
  text-transform: uppercase;
}
.feature-middle-advertise-top-banner .ship-container {
  margin-bottom: 20px;
  padding: 25px 20px;
  background-image: url("../images/main-middle-bg-image.png");
  background-position: 50% 50%;
  background-size: 620px;
}
.feature-middle-advertise-top-banner .ship-container p {
  color: #202020;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
.feature-middle-advertise-top-banner .ship-container p:nth-last-child(1) {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  height: 20px;
  letter-spacing: 1px;
}
.feature-middle-advertise-top-banner .ship-banner {
  margin-bottom: 20px;
}
.feature-middle-advertise-top-banner .ship-banner .ship-banner-img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url("../images/main-middle-bg.jpg");
  background-size: cover;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 250px;
  line-height: 20px;
}
@media (max-width: 650px) {
  .feature-middle-advertise-top-banner .ship-banner .ship-banner-img {
    background-position-x: -135px;
  }
}
.feature-middle-advertise-top-banner .ship-banner .ship-banner-img .ship-container-div {
  margin-right: 185px;
  font-family: Roboto, Roboto, Helvetica, Arial, sans-serif;
  color: #fff;
  text-align: center;
}
@media (max-width: 768px) {
  .feature-middle-advertise-top-banner .ship-banner .ship-banner-img .ship-container-div {
    margin-right: 45px;
  }
}
@media (max-width: 600px) {
  .feature-middle-advertise-top-banner .ship-banner .ship-banner-img .ship-container-div {
    margin-right: 5px;
  }
}
.feature-middle-advertise-top-banner .ship-banner .ship-banner-img .ship-container-div .ship-container-div-upper {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  height: 67.2px;
  line-height: 34px;
  margin-bottom: 5px;
  text-align: center;
  text-shadow: #000000 2px 2px 9px;
}
.feature-middle-advertise-top-banner .ship-banner .ship-banner-img .ship-container-div .ship-container-div-middle {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.feature-middle-advertise-top-banner .ship-banner .ship-banner-img .ship-container-div .ship-container-div-bottom {
  display: inline-block;
  padding: 8px 35px;
  background-color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: 20px;
  letter-spacing: 1px;
  line-height: 20px;
  margin-top: 15px;
  cursor: #000;
}
.feature-middle-advertise-top-banner .ship-banner .ship-banner-img .ship-container-div .ship-container-div-bottom:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
}
.feature-middle-advertise-top-banner .ship-banner .ship-banner-img .ship-container-div .ship-container-div-bottom a {
  color: #000;
}
.feature-bottom {
  margin-bottom: 60px;
}
.feature-bottom .container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
@media (max-width: 768px) {
  .feature-bottom .container {
    display: inline-block;
  }
}
.feature-bottom .container .feature-b-l {
  font-family: Roboto, Roboto, Helvetica, Arial, sans-serif;
}
@media (max-width: 768px) {
  .feature-bottom .container .feature-b-l {
    margin-bottom: 20px;
  }
}
.feature-bottom .container .feature-b-l .feature-b-l-top {
  max-width: 610px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .feature-bottom .container .feature-b-l .feature-b-l-top {
    max-width: 770px;
  }
}
.feature-bottom .container .feature-b-l .feature-b-l-top img {
  max-width: 100%;
  height: auto;
  display: block;
  cursor: pointer;
}
.feature-bottom .container .feature-b-l .feature-b-l-bt h3 {
  color: #252c26;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  height: 26.4px;
  letter-spacing: 0.75px;
  line-height: 26.4px;
  margin-block-end: 20px;
  margin-block-start: 20px;
  font-family: Roboto, Roboto, Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
}
.feature-bottom .container .feature-b-l .feature-b-l-bt button {
  background-clip: border-box;
  background-color: #ffffff;
  border: 1px solid rgba(37, 44, 38, 0.5);
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-stretch: 100%;
  font-style: normal;
  font-weight: 700;
  height: 40px;
  letter-spacing: 1px;
  line-height: 16px;
  padding: 11px 20px;
  text-transform: uppercase;
}
.feature-bottom .container .feature-b-l .feature-b-l-bt button:hover {
  border: 1px solid rgba(37, 44, 38, 0.3);
  color: rgba(37, 44, 38, 0.5);
}
.feature-bottom .container .feature-b-r {
  font-family: Roboto, Roboto, Helvetica, Arial, sans-serif;
}
@media (max-width: 768px) {
  .feature-bottom .container .feature-b-r {
    margin-bottom: 20px;
  }
}
.feature-bottom .container .feature-b-r .feature-b-l-top {
  max-width: 610px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .feature-bottom .container .feature-b-r .feature-b-l-top {
    max-width: 770px;
  }
}
.feature-bottom .container .feature-b-r .feature-b-l-top img {
  max-width: 100%;
  height: auto;
  display: block;
  cursor: pointer;
}
.feature-bottom .container .feature-b-r .feature-b-l-bt h3 {
  color: #252c26;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  height: 26.4px;
  letter-spacing: 0.75px;
  line-height: 26.4px;
  margin-block-end: 20px;
  margin-block-start: 20px;
  font-family: Roboto, Roboto, Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
}
.feature-bottom .container .feature-b-r .feature-b-l-bt button {
  background-clip: border-box;
  background-color: #ffffff;
  border: 1px solid rgba(37, 44, 38, 0.5);
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-stretch: 100%;
  font-style: normal;
  font-weight: 700;
  height: 40px;
  letter-spacing: 1px;
  line-height: 16px;
  padding: 11px 20px;
  text-transform: uppercase;
}
.feature-bottom .container .feature-b-r .feature-b-l-bt button:hover {
  border: 1px solid rgba(37, 44, 38, 0.3);
  color: rgba(37, 44, 38, 0.5);
}
.slider {
  margin-bottom: 40px;
}
.slider .slick-prev,
.slider .slick-next {
  top: 37% !important;
  z-index: 10;
}
.slider .slick-prev:before,
.slider .slick-next:before {
  color: #2d2b31 !important;
}
.slider .slick-next {
  right: 0;
}
.slider .slick-prev {
  left: 0;
}
.slider .container .slider-header h4 {
  line-height: 0;
  border-bottom: 1px solid #c9cac8;
  text-align: center;
  margin-bottom: 40px;
  font-family: Roboto, Roboto, Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  text-transform: uppercase;
}
.slider .container .slider-header h4 span {
  background-color: #fff;
  padding: 0 20px;
  letter-spacing: normal;
  font-family: 'Roboto Condensed', 'Helvetica Condensed', 'Arial Narrow', Arial, sans-serif;
}
.slider .container .slider-content .your-slider .slider-content-wrapper {
  max-width: 207px;
}
.slider .container .slider-content .your-slider .slider-content-wrapper:hover {
  margin: -10px;
  padding: 9px;
  border: 1px solid #fff;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 2;
  background: #fff;
}
.slider .container .slider-content .your-slider .slider-content-wrapper .sl-c-w-image img {
  cursor: pointer;
  max-width: 100%;
}
.slider .container .slider-content .your-slider .slider-content-wrapper .sl-c-details h3 {
  padding: 5px 0;
}
.slider .container .slider-content .your-slider .slider-content-wrapper .sl-c-details h3 a {
  color: #252c26;
  cursor: pointer;
  display: inline;
  font-family: Roboto, Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  hyphens: manual;
  line-height: 20px;
  overflow-wrap: break-word;
  text-align: left;
  text-decoration-color: #252c26;
}
.slider .container .slider-content .your-slider .slider-content-wrapper .sl-c-details h3 a:hover {
  text-decoration: underline;
}
.slider .container .slider-content .your-slider .slider-content-wrapper .sl-c-details p .span-price {
  display: inline-block;
  font-family: Roboto, Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  text-align: left;
}
.slider .container .slider-content .your-slider .slider-content-wrapper .sl-c-details p .price-old-underline {
  margin-right: 7px;
  text-decoration-line: line-through;
}
.slider .container .slider-content .your-slider .slider-content-wrapper .sl-c-details p .price-now {
  color: #9a1a28;
}
.youtube {
  margin-bottom: 20px;
}
.youtube .container .flex {
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .youtube .container .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .youtube .container .flex .youtube-c-l .youtube-c-wr-info {
    margin-bottom: 20px;
  }
}
.youtube .container .flex .youtube-c-l .youtube-c-wr-pl,
.youtube .container .flex .youtube-c-r .youtube-c-wr-pl {
  margin-bottom: 25px;
}
@media (max-width: 768px) {
  .youtube .container .flex .youtube-c-l .youtube-c-wr-pl,
  .youtube .container .flex .youtube-c-r .youtube-c-wr-pl {
    height: 42vw;
  }
}
@media (min-width: 768px) {
  .youtube .container .flex .youtube-c-l .youtube-c-wr-pl,
  .youtube .container .flex .youtube-c-r .youtube-c-wr-pl {
    width: 45vw;
    height: 23vw;
  }
}
@media (min-width: 1240px) {
  .youtube .container .flex .youtube-c-l .youtube-c-wr-pl,
  .youtube .container .flex .youtube-c-r .youtube-c-wr-pl {
    width: 40vw;
    height: 22vw;
  }
  .youtube .container .flex .youtube-c-l .youtube-c-wr-pl:first-child,
  .youtube .container .flex .youtube-c-r .youtube-c-wr-pl:first-child {
    margin-right: 20px;
  }
}
.youtube .container .flex .youtube-c-l .youtube-c-wr-pl iframe,
.youtube .container .flex .youtube-c-r .youtube-c-wr-pl iframe {
  height: 100%;
  width: 100%;
  border: 6px solid #a9b089;
}
.youtube .container .flex .youtube-c-l .youtube-c-wr-info,
.youtube .container .flex .youtube-c-r .youtube-c-wr-info {
  text-align: center;
  color: #a9b089;
}
.youtube .container .flex .youtube-c-l .yb-i-up,
.youtube .container .flex .youtube-c-r .yb-i-up {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  height: 25.6px;
  line-height: 26px;
  padding-bottom: 10px;
}
.youtube .container .flex .youtube-c-l .yb-i-md,
.youtube .container .flex .youtube-c-r .yb-i-md {
  max-width: 600px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 40px;
  line-height: 20px;
  margin-bottom: 15px;
  text-indent: 10px;
}
.youtube .container .flex .youtube-c-l .yb-i-bt button,
.youtube .container .flex .youtube-c-r .yb-i-bt button {
  background-clip: border-box;
  background-color: #ffffff;
  border: 1px solid black;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: 40px;
  letter-spacing: 1px;
  line-height: 16px;
  padding: 9px 24px;
  text-transform: uppercase;
}
.youtube .container .flex .youtube-c-l .yb-i-bt button:hover,
.youtube .container .flex .youtube-c-r .yb-i-bt button:hover {
  opacity: 0.5;
}
.d-block {
  display: block !important;
}
.d-none {
  display: none;
}
.burger-bg-active {
  background: #e0e1dd;
}
.burger {
  position: fixed;
  width: 80%;
  height: 100%;
  transform: translateX(-100%);
  background: #d4d5cf;
}
@media (min-width: 800px) {
  .burger {
    display: none;
  }
}
.burger .burger-menu {
  height: 20vh;
  display: flex;
}
.burger .burger-menu .burger-menu-submenu {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid #c7c9c2;
  border-width: 0 0 1px 1px;
  border-bottom: none;
}
.burger .burger-menu .burger-menu-submenu a {
  color: #252c26;
  cursor: pointer;
  display: inline;
  font-family: Roboto, Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  line-height: 20px;
  text-align: center;
}
.burger .burger-menu-drop {
  background: #d4d5cf;
  height: 80vh;
}
.burger .burger-menu-drop .burger-menu-drop-sub:not(:first-child) {
  display: none;
}
.burger .burger-menu-drop .burger-menu-drop-sub .burger-menu-drop-sub-ul .burger-menu-drop-sub-ul-li a {
  color: #252c26;
  cursor: pointer;
  display: inline;
  font-family: "Roboto Condensed", "Helvetica Condensed", "Arial Narrow", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  letter-spacing: 1px;
  line-height: 20px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  overflow-wrap: break-word;
  text-align: left;
  text-size-adjust: 100%;
  text-transform: uppercase;
}
.burger .burger-menu-drop .burger-menu-drop-sub .burger-menu-drop-sub-ul .burger-menu-drop-sub-ul-li div {
  margin-bottom: 10px;
}
.burger .burger-menu-drop .burger-menu-drop-sub .burger-menu-drop-sub-ul .burger-menu-drop-sub-ul-li div h3 {
  color: #252c26;
  font-family: Roboto, Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  line-height: 20px;
}
.burger .burger-menu-drop .burger-menu-drop-sub .burger-menu-drop-sub-ul .burger-menu-drop-sub-ul-li div h3 a {
  font-weight: 400;
  text-transform: lowercase;
}
.burger .burger-menu-drop .burger-menu-drop-sub .burger-menu-drop-sub-ul .burger-menu-drop-sub-ul-li div p {
  color: #252c26;
  display: block;
  font-family: Roboto, Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  line-height: 20px;
}
.burger .burger-menu-drop .burger-menu-drop-sub .burger-menu-drop-sub-ul li {
  border-top: 1px solid #c9cac8;
  padding: 2% 1%;
  display: block;
  justify-content: space-between;
}
.burger .burger-menu-drop .burger-menu-drop-sub .burger-menu-drop-sub-ul li:first-child {
  border: none;
}
.burger .burger-menu-drop .burger-menu-drop-sub .burger-menu-drop-sub-ul li a {
  display: block;
  padding-left: 1%;
}
.burger .burger-menu-drop .burger-menu-drop-sub .burger-menu-drop-sub-ul li a i {
  float: right;
}
.burger .burger-menu-drop .burger-menu-drop-sub .burger-menu-drop-sub-ul li ul {
  display: none;
}
.burger .burger-menu-drop .burger-menu-drop-sub .burger-menu-drop-sub-ul li ul:hover {
  cursor: pointer;
}
.burger .burger-menu-drop .burger-menu-drop-sub .burger-menu-drop-sub-ul li ul li {
  border: none;
}
.burger .burger-menu-drop .burger-menu-drop-sub .burger-menu-drop-sub-ul li ul li hr {
  border: none;
  border-bottom: 1px solid black;
}
header,
main {
  transform: translateX(0%);
}
.transl-80 {
  transform: translateX(80%);
}
.transl-0 {
  transform: translateX(0%);
}
.overflow-y-hidden {
  overflow-y: hidden;
}
.overflow-y-scroll {
  overflow-y: scroll;
}
